<div *ngIf="pageData?.widgets">
    <div *ngFor="let widget of pageData.widgets">
        <div *ngIf="widget.type === 'header'">
            <h1 [ngStyle]="widget.css">{{ widget.text }}</h1>
        </div>
        <div *ngIf="widget.type === 'paragraph'">
            <p [ngStyle]="widget.css">{{ widget.text }}</p>
        </div>
        <div *ngIf="widget.type === 'section'" [ngStyle]="widget.css">
            <div *ngFor="let sectionWidget of widget.widgets">
                <div *ngIf="sectionWidget.type === 'card'">
                    <div class="card" [ngStyle]="sectionWidget.css">
                        <img [src]="sectionWidget.image" alt="Card image" />
                        <h2>{{ sectionWidget.title }}</h2>
                        <p>{{ sectionWidget.description }}</p>
                        <button [ngStyle]="sectionWidget.button.css" (click)="showAlert(sectionWidget)">
              {{ sectionWidget.button.text }}
            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>