<footer id="footer" class="">
    <div class="container ">
        <nav id="menu-footer">
            <ul id="menu-menu-secondaire" class="menu">
                <li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="http://www.five-insurance.be/contact" translate=""><span class="">Contactez-nous</span></a></li>
                <li id="menu-item-20" class="facebook menu-item menu-item-type-custom menu-item-object-custom menu-item-20"><a href="https://www.facebook.com/fiveinsurance/" translate=""><span class="">Rejoignez la communauté Five sur Facebook</span></a></li>
                <li id="menu-item-35" class="linkedin menu-item menu-item-type-custom menu-item-object-custom menu-item-35"><a href="https://www.linkedin.com/company/five-insurance-company" translate=""><span class="">Retrouvez-nous sur LinkedIn</span></a></li>
            </ul>
        </nav>
        <section class="contact-information" itemtype="http://microformats.org/profile/hcard" itemscope="">
            <span class="five" itemprop="fn">Five</span>
            <div itemprop="adr" itemscope="">
                <p>
                    <span itemprop="street-address">486, Chaussée de Marche</span><br>
                    <span itemprop="postal-code">&nbsp;B-5101</span>
                    <span itemprop="locality">&nbsp;Erpent</span>
                </p>
                <p>T. <span itemprop="tel"><a href="tel:+3281841520">+32 81 84 15 20</a></span></p>
                <!-- <p>F. <a href="fax:+3281841529">+32 81 84 15 29</a></p> -->
                <p>E. <span itemprop="email"><a href="mailto:info@five-insurance.be">infofive-insurance.be</a></span></p>
            </div>
        </section>
    </div>
</footer>